
#### 1. Conectar, al menos, una de las BBDD que se les han compartido netflix.db o netflix.sql. (esta decisión la tomarás de acuerdo al entorno de trabajo por el que hayas optado).
#### 2. Construir y completar una tabla como el siguiente modelo. Los textos en azul debes sustuirlos por los que correspondan, según la BBDD que seleccionaste: ```Netflix.sql```


### Consultas sobre las tablas :
##### -- Contar filas en una tabla

```sql
SELECT COUNT(*) AS cantidad_filas FROM content;
SELECT COUNT(*) AS cantidad_filas FROM production;
```

##### -- Obtener la cantidad de columnas en una tabla

```sql
SELECT COUNT(*) AS cantidad_columnas
FROM information_schema.columns
WHERE table_schema = 'netflix'
  AND table_name = 'content';
  
  SELECT COUNT(*) AS cantidad_columnas
FROM information_schema.columns
WHERE table_schema = 'netflix'
  AND table_name = 'production';
```
<center>
<table>
    <tr>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD </th>
        <td colspan="2", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> Netflix.sql </font></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Tabla </th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Clave Primaria</th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Clave Foránea</th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Total de filas</th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Total de columnas</th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> content </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> id_content </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> ---------- </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 12 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> production </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> id_production </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> id_content </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8 </font></td>
    </tr>
</table></center></br>

#### 3. Construir y completar un cuadro por cada tabla de la BBDD según el siguiente modelo. Los textos en azul debes sustuirlos por los textos que correspondan, según la BBDD que hayas seleccionado:

##### 1. Nombres de Columnas de content :
- id_content
- type
- title_content
- director
- cast
- country
- date_added
- release_year
- rating
- duration
- listed_in
- description

##### 2. Consulta mySQL

```sql
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'netflix'
  AND TABLE_NAME = 'content'; 
```
```sql
SELECT 
  columna,
  SUM(valor <> '') AS cantidad_no_vacios,
  SUM(valor = '') AS cantidad_vacios,
  SUM(valor IS NULL) AS cantidad_nulos,
  COUNT(DISTINCT valor) AS cantidad_distintos
FROM (
  SELECT 'id_content' AS columna, id_content AS valor FROM content UNION ALL
  SELECT 'type' AS columna, type AS valor FROM content UNION ALL
  SELECT 'title_content' AS columna, title_content AS valor FROM content UNION ALL
  SELECT 'director' AS columna, director AS valor FROM content UNION ALL
  SELECT 'cast' AS columna, cast AS valor FROM content UNION ALL
  SELECT 'country' AS columna, country AS valor FROM content UNION ALL
  SELECT 'date_added' AS columna, date_added AS valor FROM content UNION ALL
  SELECT 'release_year' AS columna, release_year AS valor FROM content UNION ALL
  SELECT 'rating' AS columna, rating AS valor FROM content UNION ALL
  SELECT 'duration' AS columna, duration AS valor FROM content UNION ALL
  SELECT 'listed_in' AS columna, listed_in AS valor FROM content UNION ALL
  SELECT 'description' AS columna, description AS valor FROM content
) AS columnas GROUP BY columna;
```
<center>
<table>
    <tr>
        <td > </td>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD y su tabla</th>
        <td colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> Netflix.Content </font></td>
    </tr>
    <tr>
        <td > </td>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> id_content </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> type </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> title_content </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> director </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> cast </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> country </font></th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">No Vacios</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 6123 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 7933 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 7923 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Vacíos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 2624 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 814 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 824 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Distintos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 2 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8740 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 4487 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 7644 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 744 </font></td>
    </tr>
</table></center>
<center>
<table>
    <tr>
        <td > </td>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD y su tabla</th>
        <td colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> Netflix.Content </font></td>
    </tr>
    <tr>
        <td > </td>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> date_added </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> release_year </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> rating </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> duration </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> listed_in </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> description </font></th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">No nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8737 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8737 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8740 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8747 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Vacíos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 10 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 7 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Distintos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 1760 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 74 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 14 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 220 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 513 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 8715 </font></td>
    </tr>
</table></center></br>


##### 1. Nombres de Columnas de la tabla "production":
- id_production
- id_content
- title_production
- genre
- premiere
- runtime
- imdb_score
- language

##### 2. Consulta mySQL 

```sql
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'netflix'
  AND TABLE_NAME = 'production';
```
```sql
SELECT 
  columna,
  SUM(valor <> '') AS cantidad_no_vacios,
  SUM(valor = '') AS cantidad_vacios,
  SUM(valor IS NULL) AS cantidad_nulos,
  COUNT(DISTINCT valor) AS cantidad_distintos
FROM (
  SELECT 'id_production' AS columna, id_production AS valor FROM production UNION ALL
  SELECT 'id_content' AS columna, id_content AS valor FROM production UNION ALL
  SELECT 'title_production' AS columna, title_production AS valor FROM production UNION ALL
  SELECT 'genre' AS columna, genre AS valor FROM production UNION ALL
  SELECT 'premiere' AS columna, premiere AS valor FROM production UNION ALL
  SELECT 'runtime' AS columna, runtime AS valor FROM production UNION ALL
  SELECT 'imdb_score' AS columna, imdb_score AS valor FROM production UNION ALL
  SELECT 'language' AS columna, language AS valor FROM production
) AS columnas GROUP BY columna;
```
<center>
<table>
    <tr>
        <td > </td>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD y su tabla</th>
        <td colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> Netflix.Production </font></td>
    </tr>
    <tr>
        <td > </td>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> id_production </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> id_content </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> title_production </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> genre </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> premiere </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> runtime </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> imdb_score </font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> language </font></th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">No Vacios</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Vacíos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 0 </font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Distintos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 551 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 110 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 370 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 118 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 52 </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'> 37 </font></td>
    </tr>
</table></center></br>

#### 4. Realizar las siguientes consultas sobre una sola tabla. Los nombres de las columnas deben mostrarse en español:


-- A. Listar todos los registros de la tabla, visualizando las columnas type, title_content, country, rating, duration, listed_in.
```sql
SELECT type as tipo, title_content as titulo_contenido , country as pais, rating as calificaciones, duration as duracion, listed_in as reproducido_en FROM content;
```
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/A.png"><center>

-- B. Mostrar todas las filas de la tabla, presentando las columnas id_content, title_production, genre, runtime, imdb_Score.
```sql
SELECT id_content as id_contenido , title_production as titulo_produccion, genre as genero, runtime as duracion, imdb_score as imdb_puntuacion FROM production;
```
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/B.png"><center>

-- C. Generar un listado de todas las películas en las que participe Argentina, mostrando las columnas id_content, type, title_content, director, cast, rating, duration, listed_in.
```sql
SELECT c.id_content as id_contenido, c.type as tipo, c.title_content as titulo_contenido , c.director as director, c.cast as actores, c.rating as calificaciones, c.duration as duracion, c.listed_in as reproducido_en
FROM content c
WHERE c.country LIKE '%Argentina%';
```
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/C.png"><center>

-- D. Presentar un listado con las columnas id_production, title_production, genre, language, imdb_score de los registros de la tabla en las que el imdb_score sea superior a 7.5.
<!--deepnote edu m moreno-->
```sql
SELECT p.id_production as production, p.title_production as titulo_produccion, p.genre as genero, p.language as idioma, p.imdb_score as imdb_puntuacion
FROM production p
WHERE p.imdb_score > 7.5;;
```
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/D.png"><center>

-- E. Mostrar las columnas id_content, type, title_content, listed_in de los registros en los que el rating sea "TV-PG" o "TV-G".
```sql
SELECT c.id_content as id_contenido, c.type as tipo, c.title_content as titulo_contenido, c.listed_in as reproducido_en
FROM content c
WHERE c.rating = 'TV-PG' OR c.rating = 'TV-G';;
```
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/E.png"><center>

-- F. Obtener una lista con las columnas id_production, title_production, genre de los registros en que duration(runtime) sea menor o igual a 105 minutos pero que además tenga una duración de al menos 60 minutos.
```sql
SELECT p.id_production as id_production, p.title_production as titulo_produccion, p.genre as genero
FROM production p
WHERE p.runtime <= 105 AND p.runtime >= 60;
```
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/F.png"><center>

-- G. Obtener la cantidad de registros discriminando por type y rating, ordenados alfabéticamente por rating y por type.
```sql
SELECT type as tipo, rating as calificaciones , COUNT(*) AS cantidad
FROM content
GROUP BY type, rating
ORDER BY type, rating;
```
<!-- Modificado de correccion -->
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/G.png"><center>

-- H. Mostrar la cantidad de películas en los idiomas portugués, francés, alemán, italiano y español, ordenados por cantidad, de mayor a menor.
```sql
SELECT language as idioma, COUNT(*) AS cantidad
FROM production
WHERE language IN ('Portuguese', 'French', 'German', 'Italian', 'Spanish')
GROUP BY language
ORDER BY cantidad DESC;;
```
<center><img src="mi_proyecto/Consigna#2R/imag_BBDD/H.png"><center>

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=57a710b8-5854-4f44-a9e8-4a17d1732d80' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>